body {
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    text-align: center;
    padding: 20px 0;
    color: #eee;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.bio-grid {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

#bio-image img {
    width: 200px;
    height: auto;
}

#main-bio {
    flex-grow: 1;
    padding-left: 20px;
}

#contact-info, #skills {
    margin-top: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}

a {
    color: #d21034;
    text-decoration: none;
}

@media (max-width: 768px) {
    .bio-grid {
        flex-direction: column;
        align-items: center;
    }

    #bio-image, #main-bio {
        width: 100%;
        text-align: center;
    }

    #bio-image img {
        margin-bottom: 20px;
    }
}
